body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}
h1{
    margin-top: 1.5em;
    font-weight: 500;
}
h1 strong{
    color: #0F6AFF;
    font-weight: 500;
}
a:link, a:visited, a:hover{
    text-decoration: none;
    color: #0F6AFF;
    font-weight: 500;
}
.form-d{
    text-align: left;
    margin-top: 2em;
}
label{
    color: #242424;
    font-weight: 500;
    margin-top: 2em;
}
.input-s,.custom-select{
    width:  100%;
    height: 3.3em;
    font-weight: 300;
    border-radius: 0.5em;
    border: 1px #707070 solid;
}
textarea{
    width:  100%;
    height: 12em;
    font-weight: 300;
    border-radius: 0.5em;
    border: 1px #707070 solid; 
}

.btn-sub{
    background-color: #0F6AFF;
    color: #ffffff;
    width:  100%;
    height: 2.5em;
    border: 0px solid;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-weight: 300;
    margin: 2em 0 4em 0;
}
svg{
    margin-top: 41%;
}

@media only screen and (max-width: 880px){
    svg{
      display: none !important;
    }
  }